@import url(https://fonts.googleapis.com/css?family=Ramaraja);
/*font-family: 'Ramaraja', serif;*/



/*======================== UNIVERSAL STYLES ========================*/

body {
  position: relative;
}

.ramaraja {
    /*font-family: 'Ramaraja', serif;*/
    /*font-family: 'brandon-grotesque', sans-serif;*/
    font-family: "double-pica",serif;
    font-weight: 500;
}


/*============================ NAV / LOGO =========================*/

.logo-container .logo{
    overflow: hidden;
    width: 50px;
    float: left;
}

/*.logo-container .brand{
    font-size: 18px;
    color: #FFFFFF;
    line-height: 20px;
    float: left;
    margin-left: 10px;
    margin-top: 0px;
    width: 50px;
    height: 50px;
}*/

.logo-container{
    margin-top: 6px;
}

.logo {
    margin-left: 10px;
}

.logo-container .logo img{
    width: 50px;
}

.navbar-small .logo-container .brand{
    color: #333333;
}

.demo-header{
    background-size: cover;
    background-color: #FF8F5E;
    background-position: center top;
    margin-top: -100px;
    min-height: 600px;
}

.navbar-inverse {
    background-color: rgba(51, 51, 51, 0.1);
    border-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a {
    background-color: rgba(51, 51, 51, 0.7);
}

.navbar-inverse .navbar-nav>li>a {
    color: lightgray;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: white;
    background-color: rgba(51, 51, 51, 0.9);
}

/*============================== JUMBOTRON ==============================*/

.jumbotron {
    background: url(../images/lightbulb.jpg) no-repeat fixed center center;
    /*background-attachment: fixed;*/
    background-size: cover;
    background-color: rgba(51, 51, 51, 0.7);
    width: 100%;
    border-radius: 0px;
    height: 675px;
    margin-bottom: 0px;
}

.jumbotron img {
    max-width: 15%;
    padding-top: 250px
}

.jumbotron h1, p {
    color: white;
    text-align: center;
}

/*================================= DESIGN GALLERY ===================================*/

#gallery {
    /*background: url(../images/5.jpg) no-repeat center center;*/
    /*background-size: cover;*/
    background-color: white;
    width: 100%;
    /*border-radius: 0px;*/
    margin-bottom: 0px;
    padding: 30px;
}

.galleryHead {
    color: black;
    font-size: 60px;
    margin-bottom: 20px;
}

.galleryImg {
    margin-bottom: 20px;
}

a:-webkit-any-link {
    text-decoration: none;
}

.hovereffect {
    box-shadow: 0px 20px 15px -15px #888888;
    border-radius: 8px;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.hovereffect .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 4.75em;
	background: #333;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.hovereffect img {
    display: block;
    position: relative;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.hovereffect:hover img {
-webkit-transform: translate3d(0,-10%,0);
	transform: translate3d(0,-10%,0);
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(51, 51, 51, 0.2);
    border: 2px solid #fff;
	float: left;
	margin: 0px;
	display: inline-block;
}

.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
	color: #fff;
	border: 1px solid #fff;
	margin: 50px 0 0 0;
	background-color: transparent;
}
.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}


.hovereffect p.icon-links a {
	float: right;
	color: #3c4a50;
	font-size: 1.4em;
}

.hovereffect:hover p.icon-links a:hover,
.hovereffect:hover p.icon-links a:focus {
	color: #252d31;
}

.hovereffect h2,
.hovereffect p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

.hovereffect p.icon-links a span:before {
	display: inline-block;
	padding: 8px 10px;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.hovereffect:hover .overlay,
.hovereffect:hover h2,
.hovereffect:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.hovereffect:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.hovereffect:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.hovereffect:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.hovereffect:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.responsive {
    background: url(../images/5.jpg) no-repeat center center;
    background-size: cover;
    padding: 30px;
    margin: 0px;
    width: 100%;
}

.responsiveHead {
    color: #888888;
    text-align: center;
    padding-bottom: 30px;
}

.responsiveText {
    color: #888888;
    text-align: justify;
}

/*============================ ABOUT ME ===========================*/

#about {
    background: url(../images/wood-2.jpg) center center;
    /*background-size: cover;*/
    background-color: rgba(51, 51, 51, 0.0);
    width: 100%;
    border-radius: 0px;
    margin-bottom: 0px;
}

.aboutHead {
    color: white;
    font-size: 60px;
}

.aboutImg img {
    float:left;
}

.aboutMe {
    background-color: rgba(51, 51, 51, 0.7);
    /*opacity: 0.8;*/
    color: white;
    text-align: justify;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 6px;
    padding: 15px;
}

.aboutNm h3 {
    font-size: 32px;
}

#aboutText p {
    /*text-align: justify !important;*/
    /*word-wrap: break-word;*/
}

/*============================ CONTACT =============================*/

#contact {
    /*background: url(../images/abstract-jumbo2.jpg) no-repeat center center;*/
    /*background-size: cover;*/
    background-color: #7a9e9f;
    width: 100%;
    border-radius: 0px;
    margin-bottom: 0px;
}

.contactHead {
    color: white;
    font-size: 60px;
    margin-bottom: 20px;
}

.form {
    padding: 0px;
}

.map {
    padding: 0px;
}

.listItems {
    display: inline-block;
    color: white;
}

address .listItems {
    display: block;
}

a span i {
    color:white;
}

a span i:hover {
    color: #608485;
}

.socialFooter {
    margin-top: 40px;
}

.socialFooter ul {
    padding-left: 25px;
    font-size: 17px;
    margin-top: 7px;
}

.address {
    padding-right: 0px;
}

/*==================== MEDIA QUERIES ======================*/

@media(max-width:992px) {
    .socialFooter ul {
        padding-left: 5px;
        text-align: center;
    }
    .responsiveImg {
        margin: 0px auto;
    }
    .galleryImg {
        margin-bottom: 20px
    }
}

@media(max-width:768px) {
    address .listItems {
        display: block;
        text-align: center;
    }
}

@media(max-width:420px) {
    .selfPortrait {
        margin-bottom: 10px;
    }
    .aboutNm h3 {
        text-align: center;
    }
}

@media(max-width:387px) {
    /*.form {
        margin-left: -20px;
    }*/
}




/*================================================== END ==============================================*/
